.container {
  width: 100%;
  min-height: 100vh;
  padding-top: 130px;
  display: flex;
  justify-content: center;
  background: #f5f0ea;
}
.section {
  display: flex;
  max-width: 1500px;
  flex-direction: row;
  /* height: 40rem; */
  padding: 3rem 4rem;
  align-items: center;
  margin: auto;
  align-self: center;
  font-family: "Futura", arial;
  font-weight: 500;
}
.header {
  font-family: "Futura Bold Oblique", arial;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #e5080b;
}
.img1 {
  width: 70rem;
  border-radius: 10px;
  margin-right: 2rem;
  border: 3px solid #fff;
  width: 50%;
}
.description {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.content {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.connect {
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 1rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}
.subtitle {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.input {
  text-align: center;
  width: 100%;
  height: 2.5em;
  border-radius: 50px;
  border: none;
  font-size: 24px;
  outline: none;
  margin-bottom: 1em;
}
.connectWallet {
  padding: 1rem;
  font-weight: bold;
  border-radius: 50px;
  text-align: center;
  width: 150px;
  color: white;
  background-color: var(--main-color);
}
.connectWallet:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1200px) {
  .img1 {
    width: 40%;
  }
  .description {
    width: 60%;
  }
}
@media only screen and (max-width: 900px) {
  .section {
    padding: 3rem 2rem !important;
  }
  .description {
    /* max-width: 18rem; */
  }
  .header {
    font-size: 2rem;
  }
  .content {
    font-size: 1rem;
  }
  .connect {
    padding: 1rem 3rem;
    /* max-width: 4rem; */
  }
}

@media screen and (max-width: 768px) {
  .connect {
    padding: 1rem 5rem;
  }
  .section {
    /* padding-bottom: 5em;
    padding-top: 6.5rem; */
    align-items: center;
    flex-direction: column;
    max-width: 100%;
  }
  .img1 {
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
    height: 100%;
    object-fit: cover;
  }
  .description {
    margin-bottom: 2rem;
    width: 100%;
  }
  .header {
    font-size: 3rem;
    text-align: center;
  }
  .content {
    font-size: 2rem;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .section {
    padding: 0 1rem;
    padding-top: 4.5rem;
  }
  .img1 {
    width: 90%;
    margin-left: 2rem;
    margin-top: 2rem;
  }
  .header {
    font-size: 1.7rem;
  }
  .content {
    font-size: 0.8rem;
  }
}
