.selectContainer {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10000;
}

.selectContainer.active {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow: auto;
  padding: 1em 1em;
  flex-direction: column;
  position: relative;
}

.card {
  width: 100%;
  max-width: 28em;
  background: var(--default);
  display: flex;
  align-items: center;
  padding: 2em;
  justify-content: flex-start;
  flex-direction: column;
  grid-gap: 1em;
  gap: 1em;
  border-radius: 1em;
  box-shadow: 0px 4.6387px 18.5548px rgb(207 207 207 / 25%);
  animation: show 300ms alternate;
}

.heading {
  text-align: center;
  margin-bottom: 1em;
  color: #000;
  position: relative;
  z-index: 2;
  padding: 0 2rem;
}
.heading > svg {
  margin: 1em 0;
}
.heading h3 {
  margin-bottom: 0.5em;
}

.heading p {
  font-size: 0.75rem;
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading p svg {
  margin-left: 4px;
}
.iconContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem;
}

.wrapper {
  width: 100%;
  position: relative;
  padding: 0 2rem;
}

.wrapper button,
.shreBtn {
  border-radius: 2.625em;
  height: 2.8125em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  color: #ffffff;
  letter-spacing: -0.799296px;
  font-weight: 600;
  margin-top: 1em;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
.wrapper button {
  background: #d9d9d9;
}
.wrapper button:hover {
  background: var(--main-color);
}
.wrapper .shreBtn {
  background: var(--main-color);
  font-size: 1.2rem;
}
.wrapper .shreBtn:hover {
  background: var(--main-hovered);
}

.wrapper p {
  letter-spacing: 0.24px;
  color: #696969;
  margin: 1em 0;
}

.welcomeEffect {
  position: absolute;
  z-index: 1;
}
.QR {
  position: relative;
  z-index: 2;
}

.iconContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
}

.closeIcon {
  padding: 0.25em;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 300ms;
  fill: var(--icon-color);
}

@media screen and (max-width: 768px) {
  .heading h4 {
    font-size: 0.85rem;
  }

  .card {
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 1em;
  }
}

@media screen and (max-width: 480px) {
  .heading h4 {
    font-size: 0.75rem;
  }
}
